.epg-summary {
  border: 3px solid darkred;
  margin: 24px auto;
  padding: 12px;

  min-width: 360px;
  width: 50%;
}

.epg-summary-row {
  display: grid;
  grid-template-columns: 6fr 6fr;

}

.epg-summary-row-label {
  text-align: right;
  padding-right: 6px;
}

.epg-summary-row-value {
  text-align: left;
  padding-left: 6px;
}
