.epg-list {
  padding: 0;
  min-width: 360px;
  width: 50%;

  margin-right: auto;
  margin-left: auto;
}

.epg-list-empty {
  color: darkred;
}

.epg-list-header {
  font-weight: 700;
  color: darkred;
  padding-bottom: 12px;
  border-bottom: solid 3px darkred;
}
.epg-list-item {
  list-style: none;
  padding: 8px 16px;
  border-bottom: solid 1px lightgray;
}
.epg-list-item.selected {
  font-weight: 700;
}
.epg-list-item:hover {
  cursor: pointer;
  background-color: lightgray;
}

.epg-list-header,
.epg-list-item {
  display: grid;
  grid-template-columns: 12fr 6fr;
}
